@import "tailwindcss";

:root {
    color-scheme: light dark;
}


body {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@font-face {
    font-family: 'redHatText';
    src: url('../public/assets/fonts/RedHatText-VariableFont_wght.woff2'),
        url('../public/assets/fonts/RedHatText-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}

[popover]:popover-open {
  overflow: hidden;
}

body,
#root {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'redHatText', sans-serif;
}

@theme {
    --breakpoint-xs: 28.75rem;

    --color-red: hsl(14, 86%, 42%);
    --color-rose-900: hsl(14, 65%, 9%);
    --color-rose-500: hsl(12, 20%, 44%);
    --color-rose-400: hsl(7, 20%, 60%);
    --color-rose-300: hsl(14, 25%, 72%);
    --color-rose-100: hsl(13, 31%, 94%);
    --color-rose-50: hsl(20, 50%, 98%);
    --color-green: hsl(159, 69%, 38%);

    --text-preset-1: 2.5rem;
    --text-preset-2: 1.5rem;
    --text-preset-3: 1rem;
    --text-preset-4: .875rem;

    --font-redHatText: 'redHatText', sans-serif;

    --spacing-clampImg: clamp(13.25rem, 12.6136rem + 3.1818vw, 15rem);
}

.increment__decrement {
    @apply flex items-center justify-center w-5 h-5 border border-white rounded-full
}

.icon__remove {
@apply w-5 h-5 border border-rose-400 rounded-full text-rose-400 flex items-center justify-center;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   } */
